@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  font-family: 'Poppins', sans-serif;
  border: none;
  width: 100%;
}

@keyframes custom-bounce {
  0%, 100% {
    transform: translateY(-1%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-custom-bounce {
  animation: custom-bounce 2s infinite;
}



* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Add your styles for the slider here */
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #f0f0f0;
  font-size: 24px;
}

/* Add styles for status indicators here */
.status-indicators-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.status-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* Style for the active status indicator */
.status-indicator.active {
  background-color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
